name: Static Web App Deployment

on:
  push:
    branches: [ main ]
    paths:
      - "app/**"

  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy (dev, test)"
        required: true
        default: "dev"
        type: choice
        options: [dev, test]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'dev' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy Static Web App
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: upload
          app_location: app
          output_location: ""
          skip_app_build: true